.toggle-switch {
    width: 116px;
    /* Adjust the width */
    height: 50px;
    /* Adjust the height */
    border-radius: 50px;
    /* Adjust the border-radius to match the new size */
    /* background-color: #ccc; */
    border: white 3px solid;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    /* Adjust padding */
    position: relative;
    transition: background-color 0.3s ease;
}

.toggle-thumb {
    width: 40px;
    /* Adjust the width */
    height: 40px;
    /* Adjust the height */
    border-radius: 50%;
    /* Ensure it's still a circle */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.toggle-switch.toggled .toggle-thumb {
    transform: translateX(50px);
    background-color: black;
}

.icon {
    position: absolute;
    transition: opacity 0.3s ease;
    font-size: 24px;
    /* Adjust the icon size */
}

.icon.sun {
    opacity: 1;
    color: black;
}

.icon.moon {
    opacity: 0;
    color: white;
}

.toggled .icon.sun {
    opacity: 0;
}

.toggled .icon.moon {
    opacity: 1;
}